---
import { siteConfig } from "../../config/site.config";
import { getMessages, interpolate, resolveLocale } from "../../i18n";
import { bookAssets } from "./config";
import "./book.styles.css";
import "./book.animations.css";

const locale = resolveLocale(Astro.currentLocale);
const m = getMessages(locale);
const { city, country, timezone } = siteConfig.location;
const countryLabel = country.toLowerCase();
---

<article
  class="book-widget"
  aria-label={interpolate(m.book.ariaLabel, { city })}
  data-feedback="paper"
  data-feedback-source="widget.book"
>
  <div class="book-widget__bottom">
    <img
      class="book-widget__barcode"
      src={bookAssets.barcode}
      alt=""
      width="76"
      height="26"
      decoding="async"
      aria-hidden="true"
    />
  </div>

  <div class="book-widget__top">
    <div
      class="book-widget__clock"
      data-live-clock
      data-timezone={timezone}
    >
      <span class="book-widget__time" data-clock-time>--:--:-- --</span>
      <span class="book-widget__place">{countryLabel}</span>
    </div>
  </div>
</article>

<script>
  import { initLiveClock } from "../../components/ui/liveClock.client";

  function bindBookClock() {
    initLiveClock();
  }

  bindBookClock();
  document.addEventListener("astro:page-load", bindBookClock);
</script>
