---
import { getMessages } from "../../i18n";
import { bookAssets } from "./config";
import "./book.styles.css";
import "./book.animations.css";

const m = getMessages();
---

<article
  class="book-widget"
  aria-label={m.book.ariaLabel}
  data-feedback="paper"
  data-feedback-source="widget.book"
>
  <div class="book-widget__bottom">
    <img
      class="book-widget__barcode"
      src={bookAssets.barcode}
      alt=""
      width="76"
      height="26"
      decoding="async"
      aria-hidden="true"
    />
  </div>

  <div class="book-widget__top">
    <p class="book-widget__label">{m.book.label}</p>
  </div>
</article>
