---
import type { CollectionEntry } from "astro:content";
import CaseCard from "./CaseCard.astro";

interface Props {
  cases: CollectionEntry<"cases">[];
}

const { cases } = Astro.props;
---

<div class="case-list">
  <h2 class="case-list__heading">Кейсы</h2>
  <ul class="case-list__items">
    {
      cases.map((caseEntry) => (
        <li>
          <CaseCard caseEntry={caseEntry} />
        </li>
      ))
    }
  </ul>
</div>
