---
import type { CollectionEntry } from "astro:content";
import CaseCard from "./CaseCard.astro";

interface Props {
  cases: CollectionEntry<"cases">[];
}

const { cases } = Astro.props;
---

<ul class="case-list">
  {
    cases.map((caseEntry) => (
      <li class="case-list__item">
        <CaseCard caseEntry={caseEntry} />
      </li>
    ))
  }
</ul>

<style>
  .case-list {
    display: flex;
    flex-direction: column;
    gap: var(--layout-column-gap);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .case-list__item {
    min-width: 0;
  }
</style>
