---
import WidgetShell from "../_shared/WidgetShell.astro";
import { iesConfig } from "./config";
import { getIesStats } from "./data/ies.source";
import "./ies.styles.css";
import "./ies.animations.css";

const stats = await getIesStats();
---

<WidgetShell label={stats.label} ariaLabel={iesConfig.ariaLabel} layout="square">
  <div class="ies-widget__bg" aria-hidden="true">
    <img src="/images/widgets/bg-starburst.svg" alt="" />
  </div>
  <div class="ies-widget__icon" aria-hidden="true">
    <img src="/images/widgets/icon.svg" alt="" />
  </div>
</WidgetShell>
