@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
  color: var(--color-text-on-bg);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.text-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-tight);
}

.text-2xl {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-tight);
}
